[Unit]
Description=Freq dns service
After=network.target

[Service]
WorkingDirectory=/usr/bin
ExecStart=/usr/local/sof-elk/supporting-scripts/freq_server/freq_server.py -s 0 10004 /usr/local/sof-elk/supporting-scripts/freq_server/datafiles/dns.freq
PIDFile=/var/run/freq-dns.pid
Restart=always

[Install]
WantedBy=multi-user.target
