[Unit]
Description=Freq service
After=network.target

[Service]
WorkingDirectory=/usr/bin
ExecStart=/usr/local/share/freq/freq_server.py -s 0 10004 /usr/local/lib/sof-elk/freqtable2018.freq
PIDFile=/var/run/freq.pid
Restart=always

[Install]
WantedBy=multi-user.target
