# SOF-ELK® Configuration File
# (C)2020 Lewes Technology Consulting, LLC
#
# This file is a template for outputting to Elasticsearch
# To use:
# Make a copy of the file, removing the .sample extension.  Replace the '9xxx' prefix with a
# 4-digit value. See the 6xxx template for an explanation of how these numbers are used.

output {
#  # use standard logic syntax here
#  if [type] == "logtype" or [type] == "other_logtype" {
#    elasticsearch {
#      index => "logtype-%{+YYYY.MM.dd}"
#      # adjust template filename as needed
#      template => "/usr/local/sof-elk/lib/elasticsearch-logtype-template.json"
#      template_name => "logtype"
#      template_overwrite => true
#    }
#  }
}
