{
  "index_patterns": [
    "logtype-*"
  ],
  "settings": {
    "index": {
      "number_of_shards" : 1,
      "auto_expand_replicas": "0-1",
      "codec": "best_compression"
    }
  },
  "mappings": {
    "dynamic_templates": [
      {
        "ip_address_fields": {
          "match": "*_ip",
          "mapping": {
            "type": "ip"
          }
        }
      },
      {
        "string_fields": {
          "match": "*",
          "match_mapping_type": "string",
          "mapping": {
            "type": "text",
            "norms": false,
            "fields": {
              "keyword": {
                "type": "keyword",
                "ignore_above": 256
              }
            }
          }
        }
      }
    ],
    "properties": {
      "@version": {
        "type": "keyword"
      },

      "prospector": {
        "properties": {
          "type": {
            "type": "keyword"
          }
        }
      }
    }
  },
  "aliases": {}
}
