# Adapted from https://github.com/Dlackware/systemd/blob/master/openssh/sshd-keygen.service

[Unit]
Description=Machine ID Generation
ConditionPathExists=|!/etc/machine-id

[Service]
ExecStart=/usr/bin/systemd-machine-id-setup --commit
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
