[Unit]
Description=Freq http service

[Service]
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/python /opt/freq/freq_server.py 10002 /opt/freq/uri.freq
Restart=always

[Install]
WantedBy=multi-user.target